<title>Home</title>
<div id="home">
    <img id='beers' src="./images/beer.png">
    <div id="buttonshome">
      <a class='bthome' href="/beers">Check the Beers!</a>
      <a class='bthome' href="/">Check a Random Beer!</a>
    </div>
</div>