<title>Home</title>
<link rel="stylesheet" href="./stylesheets/styles.css"/>
<div id="home">
    <img id='beers' src="./images/beer.png">
    <div id="buttonshome">
      <button class='bthome' <a href="/">Check the Beers!</a> </button>
      <button class='bthome' <a href="/">Check a Random Beer!</a> </button>  
    </div>
    
</div>